spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
    show-sql: false

  web:
    cors:
      allowed-origins:
        - "https://markup-landing.vercel.app"
        - "http://localhost:5173"
        - "http://localhost:5174"
      allowed-methods: "*"
      allowed-headers: "*"
      allow-credentials: true

server:
  port: ${PORT}

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000
