spring:
  datasource:
    url: jdbc:postgresql://${PGHOST}:${PGPORT}/${PGDATABASE}
    username: ${PGUSER}
    password: ${PGPASSWORD}
    cors:
      allowed-origins: "https://markup-landing.vercel.app/"

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

server:
  port: ${PORT}


jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000
