spring:
  datasource:
    url: jdbc:postgresql://${PGHOST}:${PGPORT}/${PGDATABASE}
    username: ${PGUSER}
    password: ${PGPASSWORD}


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

server:
  port: ${PORT}

cors:
  allowed-origins: "https://markup-landing.vercel.app,https://markup-project-tan.vercel.app"
  allowed-methods: "*"
  allowed-headers: "*"
  allow-credentials: true

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000
